.social
    .social__title Отвечаем
        strong онлайн
    .social__list
        .social__list-item
            a(href="viber://chat?number=88002225460", target="__blank")
                img(src="./img/icn-viber.svg", alt="Viber")
        .social__list-item
            a(href="https://wa.me/+88002225460", target="__blank")
                img(src="./img/icn-watsapp.svg", alt="WhatsApp")
        .social__list-item
            a(href="https://t.me/", target="__blank")
                img(src="./img/telegramm.svg", alt="Telegramm")
