$black = #1c1c1c

$white = #fff

$green = #12C868
$green-light = #21E27C

$orange = #F38120
$orange-light = #FD9C49

$grey-light = #f2f6f8
$grey-dark = #EDF2F5
$grey = #F5F5F5



$text-primary-color = $black
$text-primary-hover = $orange
$text-secondary-color = $green



$bg-body-color = $grey
$bg-body-mob-color = $grey-dark

$bg-primary-color = $grey-light
$bg-secondary-color = $white
$bg-social-title-color = $green

$bg-btn-primary-color = $green
$bg-btn-primary-hover = $green-light
$bg-btn-seconadry-color = $orange
$bg-btn-seconadry-hover = $orange-light