section.content.content--home
    .content__center
        aside.aside
            include ./../../modules/advantage-list/advantage-list

        .content__column
            .title
                h1!= "Продажа <strong>кровельных материалов</strong> в Тюмени и Тюменской области"

            .subtitle
                span и монтаж под ключ
            include ./../../modules/btns-group/btns-group