-
    let calcCost = {
        type: 'button',
        className: 'btn',
        label: 'Рассчитать стоимость материалов и монтажа',
        icnUrl: './img/icn-btn-arrow.svg'
    }

-
    let viewObjects = {
        type: 'button',
        className: 'btn btn--orange',
        label: 'записаться на просмотр объектов',
        icnUrl: './img/icn-btn-arrow.svg'
    }