@require './../../includes/core/color-vars'

@require './../../includes/core/reset'
@require './../../includes/core/core'

@require './../../includes/mixins/mix-btn/mix-btn'


@require './../../includes/modules/header/header'
@require './../../includes/modules/header/menu/menu'
@require './../../includes/modules/header/btn-menumob/btn-menumob'
@require './../../includes/modules/header/info/info'

@require './../../includes/modules/mod-social/social'
@require './../../includes/modules/mod-contacts/contacts'
@require './../../includes/modules/btns-group/btns-group'
@require './../../includes/modules/advantage-list/advantage-list'
@require './../../includes/modules/modal/modal'