.info
    .info__text
        strong Кровельные и фасадные материалы
        |  в Тюмени и области.
        span Профессиональный монтаж с&nbsp;2010 года.
    .info__download
        a(href="##") Скачать прайс-каталог
            span Pdf